body{
    background: rgb(0, 110, 255);
    font-family: tahoma;
    color: #ffffff;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #ffffff;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    
    width: 70%;
    padding: 20px;
    background:rgb(144, 167, 241);
    border: 0;
    float: left;
    font-size: 20px;
    color: #ffffff;
}

button{
    background-image: linear-gradient(rgb(0, 110, 255), rgb(144, 167, 241), rgb(0, 110, 255));
    padding: 20px;
    width: 30%;
    float: left;
    border: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 20px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to bottom right, rgb(144, 167, 241), rgb(0, 110, 255));
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
   
}

li:hover{
    text-decoration: line-through;
    background-image: linear-gradient(to bottom right, rgb(0, 110, 255),rgb(144, 167, 241));
}

h1{
    background: url(/assets/coco_todo.png);
    margin-bottom: 0;
    text-indent: -10000px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-position: center;
    height: 170px;
  width: 170px;
  padding: -50px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 100px;
}
h2{
    background-image: linear-gradient(to bottom right, rgb(144, 167, 241), rgb(0, 110, 255));
    font-family: cursive; 
    text-transform: uppercase;
    border: 5px solid rgb(255, 255, 255);
  padding: 10px;
  border-radius: 50px 20px;
    margin-left: 5%;
    display:inline-block;

    }